body {
    background-image: url("muncher.png");
    background-repeat: repeat;
    
}


 /* {
    background-color:green;
    font-size: 10px;
    text-decoration: underline;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image: url("muncher.png");
} */

h1.amongus {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 125px;
    color: orange;
    background-color: black;
    box-shadow: 0 0 10px 10px orange;

}
selector {
    cursor: url("https://www.bing.com/images/search?view=detailV2&ccid=z61eHj1T&id=928C7457D2C8BC6E74360A9F36D5F5DB95EF250C&thid=OIP.z61eHj1TbQIMxr0x_XgKSAAAAA&mediaurl=https%3a%2f%2fswdteam.com%2fimg%2fuploads%2ffastcargo99.png%3ft%3d1685210800&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.cfad5e1e3d536d020cc6bd31fd780a48%3frik%3dDCXvldv11TafCg%26pid%3dImgRaw%26r%3d0&exph=160&expw=160&q=fastcargo99&FORM=IRPRST&ck=A9DB9E5037AC38B83FF6366F7A2239EF&selectedIndex=22&itb=0") 10 10, auto;
}

h1.s1{
    color:yellow;
    font-size: 45px;
    font-family:monospace;
    background-color:black;
}

h2 {
    text-align: center;
}
p {
    text-align: center;
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
}
b.hi {
    text-align: center;
}
a.fasty {
    font-size: 100px;
    color: red;
}

p, ul, ol, table {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 1em auto;
    line-height: 1.5;
}

b.sup {
    text-align: center;
    padding-left: 600px;
}
img.muncher {
   
    
    padding-left: 500px;
}
img.sonic {
    padding-bottom: 150px;
}

img.train {
    
    height: 200px;
    width: 600px;
    
}
img.bird {
    height: 200px;
    width: 150px;
}

img.diesel {
    width: 400px;
    height: 300px;
}
img.uhohtrain {
    width: 200px;
    height: 200px;
}
img.jd {
    width: 500px;
    height: 300px;
    
}

table.first {
    
}



a.megamind {
    color:black;
    text-align: center;
    font-size: 32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    text-decoration: underline;
    text-shadow: 3px 5px 2px green;
}

