body {
    background-image: url("muncher.png");
}

 /* {
    background-color:green;
    font-size: 10px;
    text-decoration: underline;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image: url("muncher.png");
} */

h1.amongus {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 125px;
    color: orange;
    background-color: black;

}


h1.s1{
    color:yellow;
    font-size: 45px;
    font-family:monospace;
    background-color:black;
}

h2 {
    padding-left: 500px;
}

a.fasty {
    font-size: 100px;
    color: red;
}

p, ul, ol, table {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 1em auto;
    line-height: 1.5;
}

b.sup {
    text-align: center;
    padding-left: 600px;
}
img.muncher {
   
    
    padding-left: 500px;
}
img.sonic {
    padding-right: 700px; 
    /* padding  */
}
img.train {
    
    padding-right: 700px;
    
}
img.bird {
    padding-right: 700px;
    
    
}
img.diesel {
    width: 400px;
    height: 300px;
}
img.uhohtrain {
    width: 200px;
    height: 200px;
}
img.jd {
    width: 300px;
    height: 200px;
    
}

table {
    color: black;
    font-size: 50px
}



a {
    color: black;
    text-align: center;
}

a:hover {
    text-decoration: underline;
    text-shadow: 3px 5px 2px green;
}

